/* styles.css */

/* Navbar styles */
body{
    background-color: wheat;
}
.navbar {
    background-color: #333;
    color: #fafaf8;
    padding: 15px 20px;
    margin-bottom: 150px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-container {
    margin-top: 90px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #06c536;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #167903;
  }
  