.navbar {
    background-color: #333333; /* Changed background color to black */
    padding: 10px 20px;

}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:start;
    align-items: center;
}

.nav-item {
    padding: 0 10px;
    color: #fff;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {

    cursor: pointer;
}

.btn {
    background-color: #d9534f; /* Changed button background color to red */
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.btn:hover {
    background-color: #ec2626; /* Darkened red color on hover */
     /* Changed text color to yellow on hover */
    border-radius: 5px;
}
